body {
    padding: 10px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.online {
    color: #00b3ee;
}

.offline {
    color: #c0c0c0;
}

.list-group-item.active, .list-group-item.active:hover{
    background-color: #31708f;
    border-color: #ffffff;
}

.list-group-item.active.text-danger {
    background-color: #a94442;
    border-color: #ffffff;
}

.list-group-item.active.text-info {
    background-color: #31708f;
    border-color: #ffffff;
}

.nogutter {
    padding-right: 0;
    padding-left: 0;
}