<!DOCTYPE html>
<html>
    <head>
        <title>Electric Resistance</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/socket.io/socket.io.js"></script>
        <script src="/angular/angular.min.js"></script>
        <script src="/jquery/dist/jquery.min.js"></script>
        <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/javascripts/angularApp.js"></script>
        <script src="/javascripts/controllers/game_controller.js"></script>
        <script src="/javascripts/filters.js"></script>
        <script src="/javascripts/socket.js"></script>
        <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
        <link rel='stylesheet' href="/stylesheets/style.css" />
    </head>

    <body ng-app="electric_resistance" ng-controller="GameController">
        <div id="footer">
            <div class="col-xs-12 navbar-default navbar-fixed-bottom">
                <div class="row" id="bottomNav">
                    <div class="col-xs-3 text-center"><a href="#"><i class="glyphicon glyphicon-home"></i><br>Game</a></div>
                    <div class="col-xs-3 text-center"><a href="#"><i class="glyphicon glyphicon-blackboard"></i><br>Vote</a></div>
                    <div class="col-xs-3 text-center"><a href="#"><i class="glyphicon glyphicon-eye-open"></i><br>Info</a></div>
                    <div class="col-xs-3 text-center"><a href="#"><i class="glyphicon glyphicon-info-sign"></i><br>Log</a></div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="alert alert-info" role="alert">
                Waiting for {{current_action.remaining | sentence}} to {{current_action.action}}.
            </div>
            <div class="form-group text-center">
                <div class="btn-group" role="group" aria-label="mission_info">
                    <button type="button" class="btn btn-default btn-lg {{m.result | result_icon}}" ng-repeat="m in game.missions">{{(m.result != null) ? '' : m.capacity}}<sup style="{{(m.fails_needed > 1) ? '' : 'display:none'}}">{{m.fails_needed}}</sup></button>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading" data-toggle="collapse" href="#mission_info" aria-expanded="true" aria-controls="mission_info">
                    Mission #{{game.mission_number + 1}}
                </div>
                <div class="panel-body collapse in" id="mission_info">
                    <p>Leader: {{current_team().leader.name}}</p>
                    <p>Team: {{member_names() | sentence}}</p>
                    <p>
                        <button type="button" class="btn btn-success btn-lg" ng-click="toggle_team_vote(true)">Accept</button>
                        <button type="button" class="btn btn-danger btn-lg" ng-click="toggle_team_vote(false)">Reject</button>
                    </p>
                    <p>Rejected Teams: {{current_mission().teams.length - 1}}</p>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading" data-toggle="collapse" href="#players" aria-expanded="false" aria-controls="players">Players</div>
                <div class="panel-body collapse" id="players">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="u in users">
                            <span class="glyphicon glyphicon-flash {{u.logged_in | connection_icon}}"> </span> {{u.name}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading" data-toggle="collapse" href="#roles" aria-expanded="false" aria-controls="roles">Roles</div>
                <div class="panel-body collapse" id="roles">
                    <ul class="list-group">
                        <li class="list-group-item {{r.faction | faction_style}}" ng-repeat="r in roles">
                            <span class="{{r.faction | faction_icon}}"> </span> {{r.name}} <span class="badge">{{r.count}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading" data-toggle="collapse" href="#team_select" aria-expanded="true" aria-controls="team_select">Team Selection - {{current_team().members.length}}/{{current_mission().capacity}}</div>
                <div class="panel-body collapse in" id="team_select">
                    <ul class="list-group">
                        <li class="list-group-item {{selected_user(u._id) ? 'active' : ''}}" ng-repeat="u in users" ng-click="toggle_team_select(u._id)">
                             {{u.name}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading" data-toggle="collapse" href="#team_voting" aria-expanded="true" aria-controls="team_voting">Team Voting</div>
                <div class="panel-body collapse in" id="team_voting">
                    <p>Leader: {{current_team().leader.name}}</p>
                    <p>Proposed Team</p>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="m in current_team().members">
                            {{m.name}}
                        </li>
                    </ul>
                    <p>
                        <button type="button" class="btn btn-success btn-lg" ng-click="toggle_team_vote(true)">Accept</button>
                        <button type="button" class="btn btn-danger btn-lg" ng-click="toggle_team_vote(false)">Reject</button>
                    </p>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading" data-toggle="collapse" href="#mission_voting" aria-expanded="true" aria-controls="mission_voting">Mission Voting</div>
                <div class="panel-body collapse in" id="mission_voting">
                    <p>Mission #{{game.mission_number + 1}} Members</p>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="m in current_team().members">
                            {{m.name}}
                        </li>
                    </ul>
                    <p>
                        <button type="button" class="btn btn-primary btn-lg" ng-click="toggle_mission_vote(true)">Pass</button>
                        <button type="button" class="btn btn-danger btn-lg" ng-click="toggle_mission_vote(false)">Reject</button>
                    </p>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading" data-toggle="collapse" href="#info" aria-expanded="true" aria-controls="info">Revealed Info (Logged in as {{player.user.name}})</div>
                <div class="panel-body collapse in" id="info">
                    <p>You are {{player.role.name}}</p>
                    <ul class="list-group">
                        <li class="list-group-item {{r.faction | faction_style}}" ng-repeat="r in player.revealed_players">
                            <span class="{{r.faction | faction_icon}}"> </span> {{r.name}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
