<!DOCTYPE html>
<html>
    <head>
        <title>Electric Resistance</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/socket.io/socket.io.js"></script>
        <script src="/angular/angular.min.js"></script>
        <script src="/jquery/dist/jquery.min.js"></script>
        <script src="/underscore/underscore-min.js"></script>
        <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/javascripts/angularApp.js"></script>
        <script src="/javascripts/controllers/game_controller.js"></script>
        <script src="/javascripts/filters.js"></script>
        <script src="/javascripts/socket.js"></script>
        <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/bootstrap.css">
        <!--<link rel="stylesheet" href="/stylesheets/bootstrap-theme.css">-->
        <link rel='stylesheet' href="/stylesheets/style.css" />
    </head>

    <body ng-app="electric_resistance" ng-controller="GameController">
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container-fluid">
                <ul class="nav navbar-nav col-xs-12 col-md-9">
                    <li class="{{'home' | selected:current_page}} col-xs-4 text-center"><a href="#" ng-click="set_page('home')"><span class="glyphicon glyphicon-home"></span><br />Home</a></li>
                    <li class="{{'vote' | selected:current_page}} col-xs-4 text-center"><a href="#" ng-click="set_page('vote')"><span class="glyphicon glyphicon-blackboard"></span><br />Vote</a></li>
                    <li class="{{'info' | selected:current_page}} col-xs-4 text-center"><a href="#" ng-click="set_page('info')"><span class="glyphicon glyphicon-search"></span><br />Info</a></li>
                </ul>
                <p class="navbar-text col-med-3 hidden-xs hidden-sm">Signed in as <a href="/logout" class="navbar-link">{{player.user.name}}</a></p>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="alert {{current_action.remaining | alert_include: player.user.name}}" role="alert">
                    Waiting for {{current_action.remaining | sentence}} to {{current_action.action_text}}.
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group text-center {{'mission_info' | show_panel:this}}">
                        <div class="btn-group" role="group" aria-label="mission_info">
                            <button type="button" class="btn btn-default btn-lg {{m.result | result_icon}} {{$index | selected:display_mission()}}" ng-repeat="m in game.missions"  ng-click="set_display_mission($index)">{{(m.result != null) ? '' : m.capacity}}<sup style="{{(m.fails_needed > 1) ? '' : 'display:none'}}">{{m.fails_needed}}</sup></button>
                        </div>
                    </div>
                    <div class="panel panel-warning {{'mission_info' | show_panel:this}}">
                        <div class="panel-heading" data-toggle="collapse" href="#mission_info" aria-expanded="true" aria-controls="mission_info">
                            Mission #{{display_mission() + 1}}
                            <span class="label label-warning pull-right glyphicon {{display_team_index | rejected_team}}">Rejected</span>
                            <span class="label label-primary pull-right glyphicon {{display_team_index | accepted_team}} {{current_mission().votes | passed_mission}}"><span class="glyphicon glyphicon-ok"></span></span>
                            <span class="label label-danger pull-right glyphicon {{display_team_index | accepted_team}} {{current_mission().votes | failed_mission}}"><span class="glyphicon glyphicon-remove"></span> {{current_mission().votes | mission_vote_count: false}}</span>
                        </div>
                        <div class="panel-body collapse in" id="mission_info">
                            <p class="col-xs-12">Leader: {{current_team().leader.name}}</p>
                            <p class="col-xs-12">Team: {{member_names() | sentence}}</p>
                            <div class="panel col-xs-12">
                                <table class="panel-heading table" data-toggle="collapse" href="#team_vote_display" aria-expanded="true" aria-controls="team_vote_display">
                                    <tr>
                                        <td class="col-xs-6 col-md-3 disabled {{result | result_icon}}" ng-repeat="result in [true, false]">
                                            {{current_team().votes | vote_count: result}}
                                        </td>
                                    </tr>
                                </table>
                                <div id="team_vote_display" class="collapse in">
                                    <ul class="col-xs-6 list-group nogutter" ng-repeat="result in [true, false]">
                                        <li class="list-group-item" ng-repeat="v in current_team().votes | filter:{vote: result}">
                                            {{v.user.name}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 text-center">
                                <div class="btn-group" role="group" aria-label="mission_info">
                                    <button type="button" class="btn btn-default" ng-click="set_display_team('-1')">&laquo;</button>
                                    <button type="button" class="btn btn-default {{display_team() | selected:$index}}" ng-repeat="team in current_mission().teams"  ng-click="set_display_team($index)">{{$index + 1}}</button>
                                    <button type="button" class="btn btn-default" ng-click="set_display_team('+1')">&raquo;</button>
                                </div>
                            </div>
                            <p class="col-xs-12">{{current_mission().lady.source.name}} used the Lady on {{current_mission().lady.target.name}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-warning {{'game_info' | show_panel:this}}">
                        <div class="panel-heading" data-toggle="collapse" href="#players" aria-expanded="true" aria-controls="players">Players</div>
                        <ul class="list-group collapse in" id="players">
                            <li class="list-group-item" ng-repeat="u in users">
                                <span class="glyphicon glyphicon-flash {{u.logged_in | connection_icon}}"> </span> {{u.name}}
                            </li>
                        </ul>
                    </div>
                    <div class="panel panel-warning {{'game_info' | show_panel:this}}">
                        <div class="panel-heading" data-toggle="collapse" href="#roles" aria-expanded="true" aria-controls="roles">Roles</div>
                        <ul class="list-group collapse in" id="roles">
                            <li class="list-group-item {{r.faction | faction_style}}" ng-repeat="r in roles">
                                <span class="{{r.faction | faction_icon}}"> </span> {{r.name}} <span class="badge">{{r.count}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="panel panel-warning {{'team_select' | show_panel:this}}">
                        <div class="panel-heading">Team Selection - {{current_team().members.length}}/{{current_mission().capacity}}</div>
                        <ul class="list-group">
                            <li class="list-group-item {{selected_user(u._id) ? 'active' : ''}}" ng-repeat="u in users" ng-click="toggle_team_select(u._id)">
                                {{u.name}}
                            </li>
                        </ul>
                        <div class="panel-body btn-group">
                            <button type="button" class="btn btn-primary btn-lg" ng-click="toggle_team_vote(true)">Accept</button>
                            <button type="button" class="btn btn-danger btn-lg" ng-click="toggle_team_vote(false)">Reject</button>
                        </div>
                    </div>
                    <div class="panel panel-warning {{'lady' | show_panel:this}}">
                        <div class="panel-heading">Lady of the Lake</div>
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="t in lady_targets" ng-click="toggle_team_select(t._id)">
                                {{t.name}}
                            </li>
                        </ul>
                    </div>
                    <div class="panel panel-warning {{'team_vote' | show_panel:this}}">
                        <div class="panel-heading">Team Proposed by {{current_team().leader.name}}</div>
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="m in current_team().members">
                                {{m.name}}
                            </li>
                        </ul>
                        <div class="panel-body btn-group">
                            <button type="button" class="btn btn-primary btn-lg" ng-click="toggle_team_vote(true)">Accept</button>
                            <button type="button" class="btn btn-danger btn-lg" ng-click="toggle_team_vote(false)">Reject</button>
                        </div>
                    </div>
                    <div class="panel panel-warning {{'mission_vote' | show_panel:this}}">
                        <div class="panel-heading">Mission #{{game.mission_number + 1}}</div>
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="m in current_team().members">
                                {{m.name}}
                            </li>
                        </ul>
                        <div class="panel-body btn-group">
                            <button type="button" class="btn btn-primary btn-lg" ng-click="toggle_mission_vote(true)">Pass</button>
                            <button type="button" class="btn btn-danger btn-lg {{player.role.faction != 'evil' ? 'disabled' : ''}}" ng-click="toggle_mission_vote(false)">Fail</button>
                        </div>
                    </div>
                    <div class="panel panel-warning {{'revealed_info' | show_panel:this}}">
                        <div class="panel-heading" data-toggle="collapse" href="#info" aria-expanded="false" aria-controls="info">Revealed Info</div>
                        <div class="panel-body collapse" id="info">
                            <p>You are {{player.role.name}}</p>
                            <ul class="list-group">
                                <li class="list-group-item {{r.faction | faction_style}}" ng-repeat="r in player.revealed_players">
                                    <span class="{{r.faction | faction_icon}}"> </span> {{r.user.name}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
