<!DOCTYPE html>
<html>
    <head>
        <title>Electric Resistance - Game Hall</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/socket.io/socket.io.js"></script>
        <script src="/angular/angular.min.js"></script>
        <script src="/jquery/dist/jquery.min.js"></script>
        <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/javascripts/angularApp.js"></script>
        <script src="/javascripts/controllers/hall_controller.js"></script>
        <script src="/javascripts/filters.js"></script>
        <script src="/javascripts/socket.js"></script>
        <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
        <link rel='stylesheet' href="/stylesheets/style.css" />
    </head>

    <body ng-app="electric_resistance" ng-controller="HallController">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Electric Resistance</a>
                </div>
                <div class=" navbar-header navbar-text navbar-right">
                    <a class="navbar-link" data-toggle="modal" data-target="#user_profile" href="#">My Profile</a>
                </div>
            </div>
        </nav>
        <div class="panel panel-info">
            <div class="panel-heading" data-toggle="collapse" href="#lobby_list" aria-expanded="true" aria-controls="game_list">All Lobbies</div>
            <div class="panel-body collapse in" id="lobby_list">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter lobby name..." ng-model="lobby_name">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="create_lobby()">Create Lobby</button>
                    </span>
                </div>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="(name, lobby) in lobbies" ng-click="join_lobby(name)">
                        <span>{{name}} - {{lobby | player_list}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading" data-toggle="collapse" href="#game_list" aria-expanded="true" aria-controls="game_list">All Games</div>
            <div class="panel-body collapse in" id="game_list">
                <ul class="list-group">
                    <li class="list-group-item {{game.result === null ? '' : 'disabled'}}" ng-repeat="game in games" ng-click="join_game(game._id)">
                        <span>{{game | player_list}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal fade" id="user_profile" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">User Profile</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="display_name">Display Name</span>
                                <input class="form-control" ng-model="me.name" placeholder="Name" id="name" aria-describedby="display_name" name="display_name">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="save_user()">Save Changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </body>
</html>
