<!DOCTYPE html>
<html>
    <head>
        <title>Electric Resistance - Game Hall</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/socket.io/socket.io.js"></script>
        <script src="/angular/angular.min.js"></script>
        <script src="/jquery/dist/jquery.min.js"></script>
        <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/javascripts/angularApp.js"></script>
        <script src="/javascripts/controllers/hall_controller.js"></script>
        <script src="/javascripts/filters.js"></script>
        <script src="/javascripts/socket.js"></script>
        <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
        <link rel='stylesheet' href="/stylesheets/style.css" />
    </head>

    <body ng-app="electric_resistance" ng-controller="HallController">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Electric Resistance</a>
                </div>
            </div>
        </nav>
        <div class="panel panel-info">
            <div class="panel-heading" data-toggle="collapse" href="#lobby_list" aria-expanded="true" aria-controls="game_list">All Lobbies</div>
            <div class="panel-body collapse in" id="lobby_list">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter lobby name..." ng-model="lobby_name">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="create_lobby()">Create Lobby</button>
                    </span>
                </div>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="(name, lobby) in lobbies" ng-click="join_lobby(name)">
                        <span>{{name}}</span> - <span ng-repeat="user in lobby.players">{{user.user.name}}, </span><span ng-repeat="user in lobby.users">{{user.user.name}}, </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading" data-toggle="collapse" href="#game_list" aria-expanded="true" aria-controls="game_list">All Games</div>
            <div class="panel-body collapse in" id="game_list">
                <ul class="list-group">
                    <li class="list-group-item {{game.result === null ? '' : 'disabled'}}" ng-repeat="game in games" ng-click="join_game(game._id)">
                        <span ng-repeat="player in game.players">{{player.user.name}}, </span>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>
