<!DOCTYPE html>
<html>
    <head>
        <title>Electric Resistance</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/socket.io/socket.io.js"></script>
        <script src="/angular/angular.min.js"></script>
        <script src="/jquery/dist/jquery.min.js"></script>
        <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/javascripts/angularApp.js"></script>
        <script src="/javascripts/controllers/lobby_controller.js"></script>
        <script src="/javascripts/filters.js"></script>
        <script src="/javascripts/socket.js"></script>
        <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
        <link rel='stylesheet' href="/stylesheets/style.css" />
    </head>

    <body ng-app="electric_resistance" ng-controller="LobbyController">
        <div class="container-fluid">
            <div class="panel panel-info">
                <div class="panel-heading" data-toggle="collapse" href="#users" aria-expanded="true" aria-controls="users">Users (Logged in as {{me.name}})</div>
                <div class="panel-body collapse in" id="users">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="u in users" ng-click="add_player(u.user._id)">
                            <span class="glyphicon glyphicon-flash {{u.logged_in | connection_icon}}"> </span> {{u.user.name}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading" data-toggle="collapse" href="#players" aria-expanded="true" aria-controls="players">Players</div>
                <div class="panel-body collapse in" id="players">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="p in players" ng-click="remove_player(p.user._id)">
                            <span class="glyphicon glyphicon-flash {{p.logged_in | connection_icon}}"> </span>
                            {{p.user.name}}
                            <span class="badge">{{$index + 1}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading" data-toggle="collapse" href="#faction-reqs" aria-expanded="false" aria-controls="faction_reqs">Faction Requirements for {{players.length}} players</div>
                <div class="panel-body collapse" id="faction-reqs">
                    <ul class="list-group">
                        <li class="list-group-item {{f.faction | faction_style}}" ng-repeat="f in game_reference[players.length].factions">
                            <span class="{{f.faction | faction_icon}}"> </span> {{f.faction}} <span class="badge">{{f.count}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading" data-toggle="collapse" href="#role_select_list" aria-expanded="true" aria-controls="role_select_list">Role Selection</div>
                <div class="panel-body collapse in" id="role_select_list">
                    <ul class="list-group">
                        <li class="list-group-item {{r.faction | faction_style}} {{selected_role_ids.indexOf(r._id) > -1 ? 'active' : ''}}" ng-repeat="r in roles | not_default" ng-click="toggle_role_select(r._id)">
                            <span class="{{r.faction | faction_icon}}"> </span> {{r.name}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading" data-toggle="collapse" href="#roles_selected" aria-expanded="false" aria-controls="roles_selected">Roles</div>
                <div class="panel-body collapse" id="roles_selected">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="r in selected_role_ids">
                            {{r}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <button ng-click="create_game()">MAKE GAME</button>
    </body>
</html>
