<!DOCTYPE html>
<html>
    <head>
        <title>Electric Resistance</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/socket.io/socket.io.js"></script>
        <script src="/angular/angular.min.js"></script>
        <script src="/jquery/dist/jquery.min.js"></script>
        <script src="/listgroup.js/listgroup.min.js"></script>
        <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/javascripts/angularApp.js"></script>
        <script src="/javascripts/controllers/lobby_controller.js"></script>
        <script src="/javascripts/filters.js"></script>
        <script src="/javascripts/socket.js"></script>
        <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
        <link rel='stylesheet' href="/stylesheets/style.css" />
    </head>

    <body ng-app="electric_resistance" ng-controller="LobbyController">
        <div class="container-fluid">
            <div class="panel panel-info">
                <div class="panel-heading" data-toggle="collapse" href="#users" aria-expanded="false" aria-controls="users">Users (Logged in as {{me.name}})</div>
                <div class="panel-body collapse" id="users">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="u in users">
                            <span class="glyphicon glyphicon-flash {{u.logged_in | connection_icon}}"> </span> {{u.user.name}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading" data-toggle="collapse" href="#roles" aria-expanded="false" aria-controls="roles">Available Roles</div>
                <div class="panel-body collapse" id="roles">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="r in roles">
                            {{r.name}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading" data-toggle="collapse" href="#role_select_list" aria-expanded="true" aria-controls="role_select_list">Role Selection</div>
                <div class="panel-body collapse in" id="role_select_list">
                    <ul class="list-group" data-toggle="items">
                        <li class="list-group-item {{r.faction | faction_style}}" ng-repeat="r in roles | not_default" ng-click="toggle_role_select(r._id)">
                            <span class="{{r.faction | faction_icon}}"> </span> {{r.name}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading" data-toggle="collapse" href="#roles_selected" aria-expanded="false" aria-controls="roles_selected">Roles</div>
                <div class="panel-body collapse" id="roles_selected">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="r in selected_roles">
                            {{r}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
