<!DOCTYPE html>
<html>
    <head>
        <title>Electric Resistance - Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/jquery/dist/jquery.min.js"></script>
        <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
        <link rel='stylesheet' href="/stylesheets/style.css" />
        <script>
           function login(path) {
               window.location.href = path + $('#username').val();
           }
        </script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="form-group">
                <input class="form-control" placeholder="Username" id="username">
            </div>
            <button class="btn btn-danger" type="submit" onclick="login('/auth/google?username=')">Login with Google</button>
            <button class="btn btn-primary" type="submit" onclick="login('/auth/facebook/')">Login with Facebook</button>
        </div>
    </body>
</html>