<!DOCTYPE html>
<html>
    <head>
        <title>Electric Resistance</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/socket.io/socket.io.js"></script>
        <script src="/angular/angular.min.js"></script>
        <script src="/jquery/dist/jquery.min.js"></script>
        <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/javascripts/angularApp.js"></script>
        <script src="/javascripts/controllers/lobby_controller.js"></script>
        <script src="/javascripts/filters.js"></script>
        <script src="/javascripts/socket.js"></script>
        <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
        <link rel='stylesheet' href="/stylesheets/style.css" />
    </head>

    <body ng-app="electric_resistance" ng-controller="LobbyController">
        <div class="container-fluid">
            <div class="panel panel-info">
                <div class="panel-heading" data-toggle="collapse" href="#users" aria-expanded="false" aria-controls="users">Users (Logged in as {{me.name}})</div>
                <div class="panel-body collapse" id="users">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="u in users">
                            <span class="glyphicon glyphicon-flash {{u.logged_in | connection_icon}}"> </span> {{u.name}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
